@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', 'Poppins', 'Helvetica Neue', Arial;
}

body {
    background: #000;
}

@layer base {
    @font-face {
        font-family: "Helvetica";
        src: url(/fonts/Helvetica.woff) format('woff'),url(/fonts/Helvetica.woff2) format('woff2')
    }
    @font-face {
        font-family: "Poppins";
        font-weight: 400;
        src: url(/fonts/Poppins-Regular.woff) format('woff'),url(/fonts/Poppins-Regular.woff2) format('woff2')
    }
    @font-face {
        font-family: "Poppins";
        font-weight: 400;
        src: url(/fonts/Poppins-Bold.woff) format('woff'),url(/fonts/Poppins-Bold.woff2) format('woff2')
    }
}